@using System.Threading.Tasks
@using AichmeeLab.Pages.Admin
@inherits LayoutComponentBase

@inject NavigationManager NavigationManager
<div class="page">
    @if (!IsHomePage)
{
    <nav class="top-navbar shadow-sm">
        <div class="nav-container">
            <a href="/" class="nav-logo">AichmeeLab</a>
            <div class="nav-links">
                <NavLink href="articles/feed" class="nav-item">Articles</NavLink>
                <NavLink href="albums" class="nav-item">Albums</NavLink>
                <NavLink href="about" class="nav-item">About</NavLink>
            </div>
        </div>
    </nav>
    }

    <div class="window-container">
            @Body
    </div>

    <AdminButton/>


</div>



@code{
    private bool IsHomePage => NavigationManager.Uri == NavigationManager.BaseUri;

    protected override void OnInitialized()
    {
        NavigationManager.LocationChanged += (s, e) => StateHasChanged();
    }

    

}
