.view-window {
    border-radius: var(--border-radius);
    border: 1px solid var(--border-color);
    box-shadow: var(--hover-shadow);
    margin: 30px;
    z-index: 15;
    overflow: hidden;
}

.view-layout {
    display: flex;
    flex-direction: column;
    place-items: center;
    padding: 15px;
    gap: 15px;
    max-height: 90vh;
}

.top-footer {
    border-bottom: 1px solid var(--border-color);
    padding: 10px;
    width: 100%;
}

.close-btn {
    background: transparent;
    border-radius: 15px;
    border: none;
    transform: scale(2);
    color: var(--font-color2);
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.close-btn:hover {
    box-shadow: var(--resting-shadow);
    transform: scale(2.15);
}

.article-content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 2rem;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    overflow-y: auto;
    overflow-x: hidden;
    gap: 1.5rem;
    word-wrap: break-word;
}

.view-img {
    justify-content: center;
    display: flex;
}

.article-content::-webkit-scrollbar {
    width: 8px;
}

.article-content::-webkit-scrollbar-track {
    background: transparent;
}

.article-content::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: var(--border-radius);
}

.article-content::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.header-wrapper {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    padding-bottom: 10px;
    width: 100%;
    border-bottom: 1px solid var(--border-color);

}


.header-wrapper span,
.view-description {
    color: var(--font-color2);
}

.media-body,
.header-wrapper h1,
.header-wrapper h3 {
    color: var(--font-color1);
}