@page "/article/{Id}"
@using AichmeeLab.Pages.Includes
@using BootstrapBlazor.Components
@inject AichmeeLab.Services.UserService.IUserService UserService
@inject AichmeeLab.Services.ImageService.IImageService ImageService


@if (SelectedArticle == null)
{
    <span style="color: var(--light-grey)">@_message</span>
}
else
{
    <ViewArticle SelectedArticle="SelectedArticle" HeaderImage="HeaderImage"/>
}


@code {
    [Parameter]
    public string Id { get; set; } = string.Empty;

    string _message { get; set; } = "Loading. . .";

    Article SelectedArticle { get; set; } = new Article();
    Image HeaderImage {get; set; } = new Image();


    protected async override Task OnParametersSetAsync()
    {
        var result = await UserService.GetArticleAsync(Id);
        if (result.Success && result.Data != null)
        {
            SelectedArticle = result.Data;
            if(!string.IsNullOrEmpty(SelectedArticle.HeaderImageId)){
               var fetching = await ImageService.GetImageAsync(SelectedArticle.HeaderImageId);
               if(fetching.Success && fetching.Data !=null) HeaderImage = fetching.Data ;
            }
        }
        else
        {
            _message = string.IsNullOrEmpty(result.Message) ? result.Message : "Article not found.";
        }
    }

}