.viewport-center {
    height: 100vh;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    overflow: hidden;
}

.articles-list {
    background: var(--background-window-dark);
    margin-bottom: 15px;
    padding: 10px;
    overflow: auto;
}

.slide-content {
    background: var(--background-window-dark);
    /* border: 1px solid #7b8590; */
    box-shadow: var(--box-shadow);
    margin-bottom: 10px;
    border-radius: var(--border-radius) 15px;
    padding: 20px;
    transition: all 0.3s ease;
}

.article-title {
    font-size: var(--font-size-title);
    font-weight: 800;
    margin: 0;
}

.author-tag {
    font-size: 0.8rem;
    font-weight: 700;
    letter-spacing: 1px;
}

.article-description {
    font-size: var(--font-size-description);
    line-height: 1.6;
}

.separator-line {
    margin-left: -20px;
    margin-right: -20px;
    border-top: 1px solid black;
}

.slide-meta {
    display: flex;
    gap: 10px;
    align-items: center;
    padding-top: 1rem;

}

.date-label {
    color: var(--light-grey);
    margin-right: 4px;
}

.date-value {
    font-weight: 500;
}

.date-divider {
    margin: 0 10px;
    color: #dee2e6;
}

.read-more-link {
    color: #0d6efd;
    text-decoration: none;
    font-weight: 600;
}