@inject NavigationManager NavigationManager;

<div class="nav-wrapper">
    <ul class="nav flex-column">
        <li class="nav-item">
            <NavLink class="nav-link" href="/admin" Match="NavLinkMatch.All">
                <i class="bi bi-speedometer2 me-2"></i> Dashboard
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="/admin/albums">
                <i class="bi bi-images me-2"></i> Albums
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="/admin/articles">
                <i class="bi bi-journal-text me-2"></i> Articles
            </NavLink>
        </li>
    </ul>
</div>

@code{
   
     
     

}