.admin-layout-container {
    display: flex;
    height: 100%; /* Fill the window-container height */
    width: 100%;
    gap: 20px;
    box-sizing: border-box;
    overflow: hidden; 
}

.viewport-left{
    flex: 0 0 240px;
}


.viewport-center {
    flex: 1;
    height: 100%;
    width: 90%;
    overflow: hidden; 
}

.view-switcher-header{
    margin-bottom: 5px;
    justify-content: center;
    align-items: center;
}

/* The Fixed Search Section */
.search-container {
    padding: 20px;
    background: azure;
    border-radius: 20px 20px 0px 0px;
}



