@inject AichmeeLab.Services.SecurityService.ISecurityService SecurityService;


    @if(_isAdmin){
    <div class="admin-quick-access">
        <a href="/admin
        " class="btn-admin-gear">
            <i class="bi bi-gear-fill"></i>
        </a>
    </div>
    }

@code{
        private bool _isAdmin {get; set; }= false;

    protected override async Task OnParametersSetAsync()
    {
       _isAdmin = await SecurityService.IsAuthorizedAsync();
    }  
}